a.hamburger.contacter.name.hidden-xs
    .name
        span Contact
a.hamburger.contacter.visible-xs
    .name
        span <i class="fa fa-envelope-o fa-2x"></i>
a.hamburger.pull-right.infoer.name.hidden-xs
    .name
        span Info
a.hamburger.pull-right.infoer.visible-xs
    .name
        span <i class="fa fa-info fa-2x"></i>