.info-wrap.pull-right
    a.close.righty
        i.fa.fa-times.fa-2x
    .row
        .middle-align-table
            .info-content
                .col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
                        .bordered
                            .row
                                .col-md-6.col-md-push-6
                                    img.img-circle.profile-pic(src="/images/nolan.jpg" alt="Nolan Thompson profile pic")
                                    .btn-group
                                        a.btn.btn-primary.btn-outline.contactMe
                                            span <i class="fa fa-envelope-o"></i> Contact
                                        a(href="/files/resume.pdf" target="_blank").btn.btn-primary.btn-outline <i class="fa fa-file-pdf-o"></i> Resume | CV
                                        a(href="/files/resume.pdf" download).btn.btn-primary.btn-outline <i class="fa fa-download"></i>
                                .col-md-6.col-md-pull-6
                                    h2.no-topper Nolan Thompson
                                    address
                                        span 61181 Dayspring Dr.<br>
                                        span Bend, OR. 97702<br>
                                        abbr(title="phone") <i class="fa fa-phone"></i> 
                                        span (480) 221-4836<br>
                            h3.no-topper About
                            p.lead Having over 18 years of experience on the web and designing for the web has helped build the foundation for a great UI designer. A master at Adobe CS and other design software. No-Photoshop pioneer making websites faster with less images and more CSS love. Killer knowledge of frontend code and always learning to stay updated on new technologies emerging.   
                            h3 Current Employer
                            p <strong>TeamUnify llc.</strong> - UI design and development of swim team management software used by millions of users each year.
                            h3 Skills
                            ul.list-inline.skillset
                                li HTML5
                                li CSS3
                                li javascript
                                li jquery
                                li bootstrap
                                li angularJS
                                li nodeJS
                                li jade
                                li less
                                li sass
                            h3 Application Experience
                            ul.list-inline.skillset
                                li Illustrator
                                li Photoshop
                                li InDesign
                                li inteliJ IDEA
                                li brackets
                                li VisualStudio
.theContacter
    a.close.lefty
        i.fa.fa-times.fa-2x
    .row
        .middle-align-table
            .contact-form
                .col-sm-8.col-sm-push-2.col-md-6.col-md-push-3.col-lg-4.col-lg-push-4
                    h2.text-center Say Hello!
                    .panel.panel-default.bordered
                        .panel-body
                            #contactForm
                                form(action="" name="contact")
                                    fieldset
                                        .form-group
                                            label.required#name_label(for="name") Name
                                            input.form-control(name="name" type="text" value="" id="name")
                                            label#name_error.error(for="name") This field is required.
                                        .form-group
                                            label#email_label.required(for="email") Email
                                            input#email.form-control(name="Email" type="email" value="")
                                            label#email_error.error(for="email") This field is required.
                                        .url-field
                                            input#url(name="url" type="text" value="")
                                        .form-group
                                            label.required(for="message") Message
                                            textarea#message.form-control(name="message" rows="4")
                                        input#submit_btn.btn.btn-primary.btn-block(type="submit" value="Send" name="submit")
                    .h3.text-center
                        i.fa.fa-lock.fa-2x