$enable-flex: true
$enable-shadows: true
$enable-gradients: true

$gray-dark: #2f373c
$gray: #a4a9ad
$gray-light: lighten($gray, 20%)
$gray-lighter: lighten($gray, 40%)
$gray-lightest: lighten($gray-dark, 75%)

$brand-primary: #18aae0
$body-bg: lighten($brand-primary, 45%)
$body-color: darken($body-bg, 70%)
$brand-success: #009a5f
$brand-info: #e66e16
$brand-warning: darken($body-bg, 70%)
$brand-danger: #e5217c

$jumbotron-bg: darken($body-bg, 70%)

$font-family-sans-serif: 'Abel', sans-serif

$border-grid-gutter-width: 50px