extends main.pug

block title
  title Bootstrap 4.0 Boilerplate

block main-content
  .main
    include includes/hero.pug
    section.collapsed.clear-angle
      .container
        .row.flex-items-xs-center
          .col-sm-6
            h2 Section Header
        .row-margin.flex-items-xs-center
          .col-sm-6
            p Ambitioni dedisse scripsisse iudicaretur. Curabitur est gravida et libero vitae dictum. Tityre, tu patulae recubans sub tegmine fagi  dolor. Quae vero auctorem tractata ab fiducia dicuntur. Fictum,  deserunt mollit anim laborum astutumque! Excepteur sint obcaecat cupiditat non proident culpa. Etiam habebis sem dicantur magna mollis euismod. Phasellus laoreet lorem vel dolor tempus vehicula. Fabio vel iudice vincam, sunt in culpa qui officia. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus. Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra Galli appellantur. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Salutantibus vitae elit libero, a pharetra augue. Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet? Paullum deliquit, ponderibus modulisque suis ratio utitur. Donec sed odio operae, eu vulputate felis rhoncus. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili.
            p Curabitur blandit tempus ardua ridiculus sed magna. Nihil hic munitissimus habendi senatus locus, nihil horum? Morbi fringilla convallis sapien, id pulvinar odio volutpat. Prima luce, cum quibus mons aliud  consensu ab eo. Cras mattis iudicium purus sit amet fermentum. A communi observantia non est recedendum. Ut enim ad minim veniam, quis nostrud exercitation. Sed haec quis possit intrepidus aestimare tellus. Quisque placerat facilisis egestas cillum dolore. Unam incolunt Belgae, aliam Aquitani, tertiam. Contra legem facit qui id facit quod lex prohibet. Quid securi etiam tamquam eu fugiat nulla pariatur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Cum sociis natoque penatibus et magnis dis parturient. Ullamco laboris nisi ut   aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse. Praeterea iter est quasdam res quas ex communi. Nec dubitamus multa iter quae et nos invenerat. Quisque ut dolor gravida, placerat libero vel, euismod. Magna pars studiorum, prodita quaerimus. Hi omnes lingua, institutis, legibus inter se differunt. Mercedem aut nummos unde unde extricat, amaras.
            p Cum ceteris in veneratione tui montes, nascetur mus. Gallia est omnis divisa in partes tres, quarum. Me non paenitet nullum festiviorem excogitasse ad hoc. Idque Caesaris facere voluntate liceret: sese habere. Integer legentibus erat a ante historiarum dapibus. Inmensae subtilitatis, obscuris et malesuada fames. At nos hinc posthac, sitientis piros Afros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Plura mihi bona sunt, inclinet, amari petere vellent. Excepteur sint obcaecat cupiditat non proident culpa. Paullum deliquit, ponderibus modulisque suis ratio utitur. Sed haec quis possit intrepidus aestimare tellus.
    section.collapsed.clear-angle
      .container
        .row.flex-items-xs-center
          .col-sm-6
            h2 Section Header
        .row-margin
          .col-md-12.text-xs-center
            a.btn.btn-primary(href="#") Primary
            a.btn.btn-secondary(href="#") Secondary
            a.btn.btn-success(href="#") Success
            a.btn.btn-danger(href="#") Danger
            a.btn.btn-warning(href="#") Warning
            a.btn.btn-info(href="#") Info
    .footer-spacer