doctype html
html(lang="en")
  include includes/head.pug
  body
    .side-menu-contain
      include includes/side-menu.pug
      include includes/footer.pug
    .main-contain
      include includes/nav.pug
      block main-content