footer.footer
  .cotainer-fluid
    .row-margin.flex-items-xs-center
      .col-sm.border-left
        .row
          .col-sm
            a(href="#")
              i.fa.fa-git-square.fa-2x
          .col-sm
            a(href="#")
              i.fa.fa-linkedin-square.fa-2x
          .col-sm
            a(href="#")
              i.fa.fa-envelope.fa-2x
      .col-sm-6.border-left
        address <strong>&copy; Nolan Thompson</strong>

script(type="text/javascript" src="vendor-js/jquery-3.1.0.min.js")
script(src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous")
script(type="text/javascript" src="vendor-js/jquery-ui.min.js")
script(type="text/javascript" src="vendor-js/tether.min.js")
script(type="text/javascript" src="vendor-js/bootstrap.min.js")
script(type="text/javascript" src="js/main.js")
