footer.footer
 .container-fluid
  .row-margin.flex-items-xs-center
    .col-sm.border-left
      h4 Column 2
      a.text-primary.d-block(href="#") Links to Stuff
      a.text-primary.d-block(href="#") Links to Stuff
    .col-sm-6.border-left
      address <strong>by: Nolan Thompson</strong><br>Bootstrap 4.alpha with Pug.js and Sass Boilerplate