#graphic.overlay
  .close <i class="fa fa-times"></i>
  .container-fluid
    .row-margin.flex-items-xs-center.flex-items-overlay-middle
      .col-xs.text-center
        ul.nav.nav-pills
          li.nav-item
            a.nav-link.ui-link(href="#ui") UI Design and Development
          li.nav-item
            a.nav-link.gd-link.active(href="#graphic") Graphic Design