head
    block title
      title Default
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Abel:400, 700|Titillium+Web:700,900" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.min.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/vendor/tether.min.css")
