head
    block title
      title Default
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Abel|Titillium+Web:700,900" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.min.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/vendor/tether.min.css")
    
    script(type="text/javascript" src="vendor-js/jquery-3.1.0.min.js")
    script(src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous")
    script(type="text/javascript" src="vendor-js/jquery-ui.min.js")
    script(type="text/javascript" src="vendor-js/tether.min.js")
    script(type="text/javascript" src="vendor-js/bootstrap.min.js")
    script(type="text/javascript" src="vendor-js/jquery.smoothScroll.js")
    script(type="text/javascript" src="js/main.js")