.jumbotron.hero
  .container-fluid
    .row.flex-items-sm-center.flex-items-xs-middle
      .col-sm(style="max-width: 60%;")
        img.d-block.m-x-auto(src="images/logo.svg" style="max-width: 400px;")
        h1.text-xs-center(style="margin-top: 15px;") Nolan Thompson<br /><small>Graphic Designer &amp; UI Developer</small>
        a.btn.btn-outline-secondary.btn-lg.btn-block.m-x-auto.ui-link(href="#ui" style="max-width: 200px; margin-top: 30px") View Portfolio
            