.jumbotron.hero
  .container
    .row.justify-content-center.align-items-center
      .col-12.col-md-6
        img.d-block.mx-auto(src="images/logo.svg" style="max-width: 400px;")
        h1.text-center(style="margin-top: 15px;") Nolan Thompson<br /><small>UI Developer with Design Superpowers</small>
        a.btn.btn-outline-inverse.btn-lg.btn-block.mx-auto#portfolio-link(href="" style="max-width: 200px; margin-top: 30px") View Portfolio
