#info.overlay
  .close <i class="fa fa-times"></i>
  .overlay-inner
    .row-margin.justify-content-center
      .col-sm-10.col-md-8
        .row
          .col-md-5.text-center.text-md-left
            h2.no-topper Nolan Thompson
            address
              span 61181 Dayspring Dr.<br>
              span Bend, OR. 97702<br>
              abbr(title="phone") <i class="fa fa-phone"></i>
              span (480) 221-4836<br>
          .col-md-7.text-center.text-md-right
            .btn-group
              a.btn.btn-inverse.contactMe(href="#")
                span <i class="fa fa-envelope-o"></i> Contact
              a(href="/files/resume.pdf" target="_blank").btn.btn-inverse <i class="fa fa-file-pdf-o"></i> Resume
              a(href="/files/resume.pdf" download).btn.btn-inverse.hidden-xs-down <i class="fa fa-download"></i>
        h3.no-topper About
        p.lead A dad, graphic designer, front-end developer, golfer, and music lover. CSS master that believes in the "No-Photoshop" revolution. Codepen enthusiast and all around nerd for good UI/UX.
        ul
          li Enterprise software experience dealing with complex UI's
          li Knowledge of building and maintaining CSS frameworks
          li Experienced with version control
          li Expert at having fun
        h3 Current Employer
        p <strong>TeamUnify llc.</strong> - UI design and development of swim team management software used by millions of users each year. Updating legacy code to make existing pages responsive and designing new UI's for future product releases.
        h3 Skills
        ul.list-inline.skillset
          li.list-inline-item HTML5
          li.list-inline-item CSS3
          li.list-inline-item Javascript
          li.list-inline-item jQuery
          li.list-inline-item Bootstrap
          li.list-inline-item AngularJS
          li.list-inline-item React
          li.list-inline-item nodeJS
          li.list-inline-item Jade
          li.list-inline-item Less
          li.list-inline-item Sass
          li.list-inline-item Prototyping
          li.list-inline-item Wireframing
          li.list-inline-item Mock-Ups
          li.list-inline-item User Testing
          li.list-inline-item Responsive Design
        h3 Application Experience
        ul.list-inline.skillset
          li.list-inline-item Illustrator
          li.list-inline-item Photoshop
          li.list-inline-item InDesign
          li.list-inline-item Premire
          li.list-inline-item After Effects
          li.list-inline-item Sketch
          li.list-inline-item Axure
          li.list-inline-item Adobe XD
          li.list-inline-item IDE's
