.carousel-item
  .portfolio-container
    .portfolio-bg.tpl
      img.port-bg.bg-1(src="images/ms-1-bg.png")
      img.port-bg.bg-2(src="images/ms-2-bg.png")
      img.port-bg.bg-3(src="images/ms-3-bg.png")
    .portfolio-hero
      .jumbotron
        .container
          .row.hero.justify-content-center.align-items-center
            .col-12
              .display-4.text-center
                | MainSet
                small HubSpot CMS, Bootstrap, &amp; jQuery
          .row.justify-content-center.sub-section
            .col-lg-9
              .row.justify-content-center.align-items-md-center
                .col-12
                  .display-3.text-center(style="margin-top: 150px") Project Overview
                .col-md-4
                  h3.text-center.text-sm-left Spec
                  p.lead.text-center.text-sm-left Custom HubSpot template for MainSet corporate website, a workout management tool for coaches.
                .col-md-4
                  img.img-fluid(src="images/ms-1.png" alt="MainSet")
                .col-md-4
                  h3.text-center.text-sm-left What I did
                  p.lead.text-center.text-sm-left Hepled with design efforts &amp; custom template development using Hubl markup language.
              .row.justify-content-center.align-items-md-center
                .col-md-3
                  h3.text-center.text-sm-left Built Using
                  p.lead.text-center.text-sm-left HubSpot, Bootstrap, &amp; jQuery.
                .col-md-6
                  img.img-fluid(src="images/ms-2.png" alt="MainSet")
                .col-md-3
                  .built-with.text-center.text-sm-left
                    span.built-with-bootstrap H
                    span.built-with-bootstrap B
                    span.built-with-jquery.icon-jquery
              .row.justify-content-center.align-items-md-center
                .col-12.text-center
                  h3 Check It Out
                  a(href="http://www.mainset.com/" target="_blank")
                    img.img-fluid.flex-items-xs-center(src="images/ms-3.png" alt="MainSet")
                  h4.external-link
                    a(href="http://www.mainset.com/" target="_blank") <i class="fa fa-external-link"></i> View Project
