#portfolio
  .brand
    img.d-block.mx-auto(src="images/logo.svg" style="max-width: 100px;")
  #portfolioCarousel.carousel.slide(data-ride="false" data-wrap="false" data-pause="true")
    .carousel-inner(role="listbox")
      include ./tpl
      include ./ms
      include ./st
      include ./tla
      include ./university
      include ./registration

      a.carousel-control-prev(href="#portfolioCarousel" role="button" data-slide="prev")
        span(aria-hidden="true")
          i.fa.fa-chevron-left.fa-2x
        span.sr-only Previous
      a.carousel-control-next(href="#portfolioCarousel" role="button" data-slide="next")
        span(aria-hidden="true")
          i.fa.fa-chevron-right.fa-2x
        span.sr-only Next
