.side-menu-wrap
  .close
      i.fa.fa-times
  .full-brand
  h4 Nolan Thompson
  .row-margin
    .col-xs.text-xs-center
      .btn-group
        a.btn.btn-outline-danger.contact-link(href="#contact") <i class="fa fa-envelope"></i> Contact Me!
        a.btn.btn-outline-danger <i class="fa fa-download"></i> Resume/CV!
  .row-margin
    .col-xs
      h5.titles Portfolio
      ul.nav.nav-pills.nav-stacked
        li.nav-item
          a.nav-link.ui-link(href="#ui") UI Design and Development
        li.nav-item
          a.nav-link.gd-link(href="#graphic") Graphic Design
  .row-margin
    .col-xs
      h5.titles About Me
      p 18 years of experience on the web and designing for the web has helped build the foundation for a great UI designer. A master at Adobe CS and other design software. "No-Photoshop" pioneer making websites faster with less images and more CSS love. Killer knowledge of front-end code and always learning to stay updated on the newest technologies.<br /><a href="#info" class="link info-link">more</a>
  .footer-spacer