.carousel-item.active
  .portfolio-container
    .portfolio-bg.tpl
      img.port-bg.bg-1(src="images/tpl-1-bg.png")
      img.port-bg.bg-2(src="images/tpl-2-bg.png")
      img.port-bg.bg-3(src="images/tpl-3-bg.png")
    .portfolio-hero
      .jumbotron
        .container
          .row.hero.justify-content-center.align-items-center
            .col-12
              .display-4.text-center
                | TouchPad Live
                small Angular, Bootstrap, &amp; jQuery
          .row.justify-content-center.sub-section
            .col-lg-9
              .row.justify-content-center.align-items-md-center
                .col-12
                  .display-3.text-center(style="margin-top: 150px") Project Overview
                .col-md-4
                  h3.text-center.text-sm-left Spec
                  p.lead.text-center.text-sm-left Custom web app for watching live swim meet results.
                .col-md-4
                  img.img-fluid(src="images/tpl-1.png" alt="Hood Canal Events")
                .col-md-4
                  h3.text-center.text-sm-left What I did
                  p.lead.text-center.text-sm-left Front-end Development &amp; responsive re-design
              .row.justify-content-center.align-items-md-center
                .col-md-3
                  h3.text-center.text-sm-left Built Using
                  p.lead.text-center.text-sm-left Angular, Bootstrap, Javascript, &amp; jQuery.
                .col-md-6
                  img.img-fluid(src="images/tpl-2.png" alt="Hood Canal Events")
                .col-md-3
                  .built-with.text-center.text-sm-left
                    span.built-with-angular.icon-angularjs
                    span.built-with-bootstrap B
                    span.built-with-jquery.icon-jquery
              .row.justify-content-center.align-items-md-center
                .col-12.text-center
                  h3 Check It Out
                  a(href="http://www.touchpadlive.com" target="blank")
                    img.img-fluid.flex-items-xs-center(src="images/tpl-3.png" alt="Hood Canal Events")
                  h4.external-link
                    a(href="http://www.touchpadlive.com" target="blank") <i class="fa fa-external-link"></i> View Project
