#ui
  .section-hero
    .jumbotron
      .container-fluid
        .row.flex-items-xs-middle.flex-items-xs-center
          .col-md-8
            .display-2.text-xs-center.ui-header UI Design & Developement
            .row-margin.ui-sub-menu
              .col-md-2
                a(href="#ui1").text-warning.ui-link
                  h4.text-xs-center Hood Canal 
              .col-md-2
                a(href="#ui2").text-warning.ui-link
                  h4.text-xs-center TU University
              .col-md-2
                a(href="#ui3").text-warning.ui-link
                  h4.text-xs-center MainSet
              .col-md-2
                a(href="#ui4").text-warning.ui-link
                  h4.text-xs-center Tight Line
              .col-md-2
                a(href="#ui5").text-warning.ui-link
                  h4.text-xs-center TouchPad Live
              .col-md-2
                a(href="#ui6").text-warning.ui-link
                  h4.text-xs-center SwimToday
  .portfolio-hero#ui1
    .jumbotron.hce
      .container-fluid
        .row.flex-items-xs-middle.flex-items-xs-center
          .col-md-12
            .display-4.text-xs-center Hood Canal Events
            img.img-fluid.m-x-auto.d-block(src="images/hce-hero.png" alt="Hood Canal Events")
  .container
    .portfolio-item
      .portfolio-container
        .row.flex-items-xs-middle.flex-items-xs-center
          .col-md-6
            h3 Hood Canal Events
            p.lead Custom Wordpress theme for a travel agency specializing in Pacific Northwest vacations. Built with wordpress, bootstrap, and jquery.
            h5 What I did
            p.lead Concept, Design, &amp; Development
            h4
              a.pull-right(href="http://www.hoodcanalevents.com" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              i.fa.fa-wordpress.fa-2x
              span.built-with-bootstrap B
              span.built-with-jquery.icon-jquery
          .col-md-6
            img.img-fluid(src="images/project-2.png" alt="Hood Canal Events")
  .portfolio-hero
    .jumbotron
  .container-fluid
    .portfolio-item
      .portfolio-container#ui2
        .row.flex-items-xs-center.img-row
          .col-md
            img.img-fluid(src="images/project-1.png" alt="TU University")
        .row-margin.flex-items-xs-center.desc-row
          .col-md
            h3 TU University
            p.lead A knowledge base for TeamUnify built on HubSpot marketing platform using angularJS with google custom site search.
            h5 What I did
            p.lead Concept, Design, Angular Google search API integration, &amp; HubSpot Development
            h4
              a.pull-right(href="http://university.teamunify.com" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              span.built-with-bootstrap B
              span.built-with-jquery.icon-jquery
              span.built-with-angular.icon-angularjs
              i.fa.fa-google.fa-2x
  .portfolio-hero
    .jumbotron
  .container-fluid
    .portfolio-item
      .portfolio-container#ui3
        .row.flex-items-xs-center.img-row
          .col-md
            img.img-fluid(src="images/project-3.png" alt="MainSet")
        .row-margin.flex-items-xs-center.desc-row
          .col-md
            h3 MainSet
            p.lead Corporate marketing website for MainSet, a revolutionary app for managing workouts. Built on HubSpot marketing platform using bootstrap and jquery.
            h5 What I did
            p.lead Concept, Design, &amp; HubSpot Development
            h4
              a.pull-right(href="http://mainset.com" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              span.built-with-bootstrap B
              span.built-with-jquery.icon-jquery
  .portfolio-hero
    .jumbotron
  .container-fluid
    .portfolio-item
      .portfolio-container#ui4
        .row.flex-items-xs-center.img-row
          .col-md
            img.img-fluid(src="images/project-4.png" alt="Tight Line Adventures")
        .row-margin.flex-items-xs-center.desc-row
          .col-md
            h3 Tight Line Adventures
            p.lead Booking website for a fishing adventure company out of Montana. Custom wordpress site using bootstrap and jquery.
            h5 What I did
            p.lead Concept, Design, &amp; Development
            h4
              a.pull-right(href="http://tightlinemontana.com" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              i.fa.fa-wordpress.fa-2x
              span.built-with-bootstrap B
              span.built-with-jquery.icon-jquery
  .portfolio-hero
    .jumbotron
  .container-fluid
    .portfolio-item
      .portfolio-container#ui5
        .row.flex-items-xs-center.img-row
          .col-md
            img.img-fluid(src="images/project-5.png" alt="TouchPad Live")
        .row-margin.flex-items-xs-center.desc-row
          .col-md
            h3 TouchPad Live
            p.lead Live meet results for TeamUnify's TouchPad meet management software. AngularJS app with bootstrap and jquery.
            h5 What I did
            p.lead Front-end Development
            h4
              a.pull-right(href="http://touchpadlive.com" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              span.built-with-bootstrap B
              span.built-with-jquery.icon-jquery
              span.built-with-angular.icon-angularjs
  .portfolio-hero
    .jumbotron
  .container-fluid
    .portfolio-item
      .portfolio-container#ui6
        .row.flex-items-xs-center.img-row
          .col-md
            img.img-fluid(src="images/project-6.png" alt="SwimToday")
        .row-margin.flex-items-xs-center.desc-row
          .col-md
            h3 SwimToday
            p.lead Platform for USA Swimming organization SwimToday. Clubs can maintain listing for thier facility and what services are offered. Custom search and custom CMS. AngularJS app with Unsemantic flex grid.
            h5 What I did
            p.lead Responsive Design &amp; Front-end Development
            h4
              a.pull-right(href="http://swimtoday.org" target="blank") <i class="fa fa-external-link"></i> View Project
            .clearfix
            .built-with
              span.built-with-jquery.icon-jquery
              span.built-with-angular.icon-angularjs
              i.fa.fa-google.fa-2x
